<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.AnnouncementUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.AnnouncementUser">
        <result column="announcement_id" property="announcementId"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <insert id="saveAnnouncementUser">
        insert into t_announcement_user (announcement_id, user_id)
        select #{announcementId} as announcement_id, oid as user_id from t_user
        <if test="scope = 2">
            where user_type = 2 and state = 1
        </if>
    </insert>

</mapper>
