<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.AnnouncementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.Announcement">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="type" property="type"/>
        <result column="content" property="content"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getAnnouncementMyPage" resultMap="BaseResultMap">
        select
        a.id,
        a.title,
        a.type,
        a.content,
        a.create_time,
        u.user_name as createUser
        from t_announcement a
        left join t_announcement_user au on au.announcement_id = a.id
        left join t_user u on a.create_user = u.oid
        <where>
            au.user_id = #{query.userId}
            <if test="query.title != null and query.title != ''">
                and a.title like concat('%',#{query.title},'%')
            </if>
            <if test="query.type != null and query.type != ''">
                and a.type = #{query.type}
            </if>
        </where>
    </select>

</mapper>
