<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.AnnouncementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.Announcement">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="type" property="type"/>
        <result column="scope" property="scope"/>
        <result column="content" property="content"/>
        <result column="state" property="state"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="AnnouncementVOMap" type="com.poho.stuup.model.vo.AnnouncementVO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="type" property="type"/>
        <result column="scope" property="scope"/>
        <result column="content" property="content"/>
        <result column="state" property="state"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="getAnnouncementPage" resultMap="AnnouncementVOMap">
        select
        a.id,
        a.title,
        a.type,
        a.scope,
        a.state,
        a.content,
        a.create_time,
        u.user_name as create_user
        from t_announcement a
        left join t_user u on a.create_user = u.oid
        <where>
            <if test="query.state != null and query.state != ''">
                and a.state = #{query.state}
            </if>
            <if test="query.title != null and query.title != ''">
                and a.title like concat('%',#{query.title},'%')
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="getMyAnnouncementPage" resultMap="AnnouncementVOMap">
        select
        a.id,
        a.title,
        a.type,
        a.create_time
        from t_announcement a
        left join t_announcement_user au on au.announcement_id = a.id
        <where>
            au.user_id = #{query.userId}
            <if test="query.title != null and query.title != ''">
                and a.title like concat('%',#{query.title},'%')
            </if>
            <if test="query.type != null and query.type != ''">
                and a.type = #{query.type}
            </if>
        </where>
        order by a.create_time desc
    </select>

</mapper>
