<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.AssessStateMapper">
  <resultMap id="BaseResultMap" type="com.poho.stuup.model.AssessState">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="year_id" jdbcType="BIGINT" property="yearId" />
    <result column="assess_user" jdbcType="BIGINT" property="assessUser" />
    <result column="assess_type" jdbcType="INTEGER" property="assessType" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    oid, year_id, assess_user, assess_type, state, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_assess_state
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_assess_state
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.poho.stuup.model.AssessState">
    insert into t_assess_state (oid, year_id, assess_user, 
      assess_type, state, create_time
      )
    values (#{oid,jdbcType=BIGINT}, #{yearId,jdbcType=BIGINT}, #{assessUser,jdbcType=BIGINT}, 
      #{assessType,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.poho.stuup.model.AssessState">
    insert into t_assess_state
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="yearId != null">
        year_id,
      </if>
      <if test="assessUser != null">
        assess_user,
      </if>
      <if test="assessType != null">
        assess_type,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="yearId != null">
        #{yearId,jdbcType=BIGINT},
      </if>
      <if test="assessUser != null">
        #{assessUser,jdbcType=BIGINT},
      </if>
      <if test="assessType != null">
        #{assessType,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poho.stuup.model.AssessState">
    update t_assess_state
    <set>
      <if test="yearId != null">
        year_id = #{yearId,jdbcType=BIGINT},
      </if>
      <if test="assessUser != null">
        assess_user = #{assessUser,jdbcType=BIGINT},
      </if>
      <if test="assessType != null">
        assess_type = #{assessType,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poho.stuup.model.AssessState">
    update t_assess_state
    set year_id = #{yearId,jdbcType=BIGINT},
      assess_user = #{assessUser,jdbcType=BIGINT},
      assess_type = #{assessType,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <select id="checkAssessState" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT
      tas.*
    FROM
      t_assess_state AS tas
    WHERE
      tas.year_id = #{yearId,jdbcType=BIGINT}
      AND tas.assess_user = #{assessUser,jdbcType=BIGINT}
      AND tas.assess_type = #{assessType,jdbcType=INTEGER}
    ORDER BY
      tas.oid DESC
    LIMIT 1
  </select>
</mapper>