<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.AudGrowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.AudGrow">
        <id column="id" property="id" />
        <result column="grow_id" property="growId" />
        <result column="state" property="state" />
        <result column="
auditor" property="
auditor" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="reason" property="reason" />
        <result column="file_ids" property="fileIds" />
    </resultMap>

</mapper>
