<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.AudGrowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.AudGrow">
        <id column="id" property="id"/>
        <result column="grow_id" property="growId"/>
        <result column="type" property="type"/>
        <result column="state" property="state"/>
        <result column="applicant" property="applicant"/>
        <result column="auditor" property="auditor"/>
        <result column="submitter" property="submitter"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="reason" property="reason"/>
        <result column="file_ids" property="fileIds"/>
    </resultMap>

    <resultMap id="GrowAuditRecordVOMap" type="com.poho.stuup.model.vo.AudGrowthVO">
        <id column="id" property="id"/>
        <result column="year_id" property="yearId"/>
        <result column="semester_id" property="semesterId"/>
        <result column="growth_item_id" property="growthItemId"/>
        <result column="growth_item_name" property="growthItemName"/>
        <result column="growth_item_score" property="growthItemScore"/>
        <result column="l1_id" property="l1Id"/>
        <result column="l2_id" property="l2Id"/>
        <result column="l3_id" property="l3Id"/>
        <result column="applicant_id" property="applicantId"/>
        <result column="auditor_id" property="auditorId"/>
        <result column="submitter_id" property="submitterId"/>
        <result column="applicant_name" property="applicantName"/>
        <result column="reason" property="reason"/>
        <result column="file_ids" property="fileIds"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="pageAud" resultMap="GrowAuditRecordVOMap">
        select
        ag.id,
        ag.year_id,
        ag.semester_id,
        ag.grow_id as growth_item_id,
        gi.name as growth_item_name,
        gi.score as growth_item_score,
        gi.first_level_id as l1_id,
        gi.second_level_id as l2_id,
        gi.three_level_id as l3_id,
        ag.applicant as applicant_id,
        ag.auditor as auditor_id,
        ag.submitter as submitter_id,
        ag.reason,
        ag.file_ids,
        ag.state,
        ag.create_time,
        u.user_name as applicant_name,
        stu.class_id,
        stu.name as applicant_name
        from t_aud_grow ag
        left join t_growth_item gi on gi.id = ag.grow_id
        left join t_user u on ag.applicant = u.oid
        left join t_student stu on u.login_name = stu.student_no
        <where>
            u.state = 1
            and u.user_type = 1
            and stu.`status` = 1
            and stu.is_valid = 1
            <if test="query.yearId != null and query.yearId != '' ">
                and ag.year_id = #{query.yearId}
            </if>
            <if test="query.semesterId != null and query.semesterId != '' ">
                and ag.semester_id = #{query.semesterId}
            </if>
            <if test="query.type != null and query.type != '' ">
                and ag.type = #{query.type}
            </if>
            <if test="query.l1Id != null and query.l1Id != '' ">
                and gi.first_level_id = #{query.l1Id}
            </if>
            <if test="query.l2Id != null and query.l2Id != '' ">
                and gi.second_level_id = #{query.l2Id}
            </if>
            <if test="query.l3Id != null and query.l3Id != '' ">
                and gi.three_level_id = #{query.l3Id}
            </if>
            <if test="query.growthItemName != null and query.growthItemName != '' ">
                and gi.name like concat('%', #{query.growthItemName}, '%')
            </if>
            <if test="query.state != null and query.state != '' ">
                and ag.state = #{query.state}
            </if>
            <if test="query.applicantId != null and query.applicantId != '' ">
                and ag.applicant = #{query.applicantId}
            </if>
            <if test="query.auditorId != null and query.auditorId != '' ">
                and ag.auditor = #{query.auditorId}
            </if>
            <if test="query.submitterId != null and query.submitterId != '' ">
                and ag.submitter = #{query.submitterId}
            </if>
            <if test="query.classId != null and query.classId != '' ">
                and stu.class_id = #{query.classId}
            </if>
        </where>
        <if test="query.sortOrder == 'asc'">
            order by ag.create_time asc
        </if>
        <if test="query.sortOrder == 'desc'">
            order by ag.create_time desc
        </if>
    </select>

    <update id="updateState">
        update t_aud_grow
        set state = #{state}
        where id = #{id}
    </update>


</mapper>
