<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.ContestMapper">
  <resultMap id="BaseResultMap" type="com.poho.stuup.model.Contest">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="stu_id" jdbcType="INTEGER" property="stuId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="obtain_date" jdbcType="TIMESTAMP" property="obtainDate" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="rank" jdbcType="VARCHAR" property="rank" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    oid, stu_id, name, level, obtain_date,unit_name, rank, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_contest
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_contest
    where oid = #{oid,jdbcType=BIGINT}
  </delete>

  <select id="queryTotal" parameterType="java.util.HashMap" resultType="int">
    select
      count(*)
    from t_contest as tc
    where 1=1
    <if test="name != null and name != ''">
      AND tc.name LIKE CONCAT(CONCAT('%',#{name}),'%')
    </if>
  </select>
  <select id="queryList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    tc.*
    from t_contest as tc
    where 1=1
    <if test="name != null and name != ''">
      AND tc.name LIKE CONCAT(CONCAT('%',#{name}),'%')
    </if>
    order by tc.oid desc
    <if test="start != null and length != null">
      limit #{start},#{length}
    </if>
  </select>

  <select id="selectTotal"  resultType="int">
    select
    count(*)
    from t_contest as tc
    left join t_student stu on tc.stu_id = stu.id
    where 1=1
    <if test="searchDTO.name != null and searchDTO.name != ''">
      AND tc.name LIKE CONCAT(CONCAT('%',#{searchDTO.name}),'%')
    </if>
    <if test="searchDTO.level != null">
      AND tc.level = #{searchDTO.level}
    </if>
    <if test="searchDTO.stuName != null and searchDTO.stuName != ''">
      AND stu.name LIKE CONCAT(CONCAT('%',#{searchDTO.stuName}),'%')
    </if>
  </select>
  <select id="selectList"  resultType="com.poho.stuup.model.dto.ContestDTO">
    select
    tc.oid, tc.stu_id as stuId, tc.name,tc.level, tc.obtain_date as obtainDate, tc.unit_name as unitName, tc.rank, tc.status
    ,stu.name as stuName
    from t_contest as tc
    left join t_student stu on tc.stu_id = stu.id
    where 1=1
    <if test="searchDTO.name != null and searchDTO.name != ''">
      AND tc.name LIKE CONCAT(CONCAT('%',#{searchDTO.name}),'%')
    </if>
    <if test="searchDTO.level != null">
      AND tc.level = #{searchDTO.level}
    </if>
    <if test="searchDTO.stuName != null and searchDTO.stuName != ''">
      AND stu.name LIKE CONCAT(CONCAT('%',#{searchDTO.stuName}),'%')
    </if>
    order by tc.oid desc
    <if test="pageData != null ">
      limit #{pageData.start},#{pageData.size}
    </if>
  </select>

  <insert id="insert" parameterType="com.poho.stuup.model.Contest">
    insert into t_contest ( oid, stu_id, name, level, obtain_date,unit_name, rank, status)
    values (
             #{oid,jdbcType=BIGINT}
           , #{stuId,jdbcType=INTEGER}
           , #{name,jdbcType=VARCHAR}
           , #{level,jdbcType=INTEGER}
           , #{obtainDate,jdbcType=TIMESTAMP}
           , #{unitName,jdbcType=VARCHAR}
           , #{rank,jdbcType=VARCHAR}
           , #{status,jdbcType=INTEGER}
           )
  </insert>
  <insert id="insertSelective" parameterType="com.poho.stuup.model.Contest">
    insert into t_contest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="obtainDate != null">
        obtain_date,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="obtainDate != null">
        obtain_date = #{obtainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.poho.stuup.model.Contest">
    update t_contest
    set stu_id = #{stuId,jdbcType=INTEGER},
        name = #{name,jdbcType=VARCHAR},
        level = #{level,jdbcType=INTEGER},
        obtain_date = #{obtainDate,jdbcType=TIMESTAMP},
        unit_name = #{unitName,jdbcType=VARCHAR},
        rank = #{rank,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.poho.stuup.model.Contest">
    update t_contest
    <set>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="obtainDate != null">
        obtain_date = #{obtainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>