<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.td//DTD Mapper 3.0//EN" "http://mybatis.td/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.DeptMapper">
  <resultMap id="BaseResultMap" type="com.poho.stuup.model.Dept">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    oid, dept_name, create_user, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_dept
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_dept
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.poho.stuup.model.Dept">
    insert into t_dept (oid, dept_name, create_user, create_time)
    values (#{oid,jdbcType=BIGINT}, #{deptName,jdbcType=VARCHAR},
      #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.poho.stuup.model.Dept">
    insert into t_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poho.stuup.model.Dept">
    update t_dept
    <set>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poho.stuup.model.Dept">
    update t_dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <select id="queryTotal" parameterType="java.util.HashMap" resultType="int">
    select
    count(td.oid)
    from t_dept as td
    where 1=1
    <if test="key != null and key != ''">
      AND td.dept_name LIKE CONCAT(CONCAT('%',#{key}),'%')
    </if>
  </select>
  <select id="queryList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    td.*
    from t_dept as td
    where 1=1
    <if test="key != null and key != ''">
      AND td.dept_name LIKE CONCAT(CONCAT('%',#{key}),'%')
    </if>
    order by td.oid desc
    <if test="start != null and length != null">
      limit #{start},#{length}
    </if>
  </select>
  <select id="checkDept" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT
    td.*
    FROM
    t_dept AS td
    WHERE 1=1
    <if test="deptName != null">
      AND td.dept_name = #{deptName,jdbcType=VARCHAR}
    </if>
    <if test="oid != null">
      AND td.oid != #{oid,jdbcType=BIGINT}
    </if>
    ORDER BY
    td.oid DESC
    LIMIT 1
  </select>
  <delete id="deleteBatch">
    delete from t_dept
    where oid in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>
</mapper>