<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.GrowthItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.GrowthItem">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="score_period" property="scorePeriod"/>
        <result column="score_upper_limit" property="scoreUpperLimit"/>
        <result column="collect_limit" property="collectLimit"/>
        <result column="calculate_type" property="calculateType"/>
        <result column="score" property="score"/>
        <result column="gatherer" property="gatherer"/>
        <result column="type" property="type"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="first_level_id" property="firstLevelId"/>
        <result column="second_level_id" property="secondLevelId"/>
        <result column="three_level_id" property="threeLevelId"/>
        <result column="handle" property="handle"/>
    </resultMap>

    <resultMap id="ApplyGrowthItemVOMap" type="com.poho.stuup.model.vo.UserApplyGrowthItemVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="l1_id" property="l1Id"/>
        <result column="l2_id" property="l2Id"/>
        <result column="l3_id" property="l3Id"/>
        <result column="l1_name" property="l1Name"/>
        <result column="l2_name" property="l2Name"/>
        <result column="l3_name" property="l3Name"/>
    </resultMap>

    <select id="getStudentGrowthItems" resultMap="ApplyGrowthItemVOMap">
        select gi.id,
               gi.name,
               gi.first_level_id  as l1_id,
               gi.second_level_id as l2_id,
               gi.three_level_id  as l3_id,
               l1.name            as l1_name,
               l2.name            as l2_name,
               l3.name            as l3_name
        from t_growth_item gi
                 left join t_growth l1 on first.id = gi.first_level_id
                 left join t_growth l2 on second.id = gi.second_level_id
                 left join t_growth l3 on third.id = gi.three_level_id
        where gi.gatherer = 3
    </select>

    <select id="fetchMaxId" resultType="Long">
        select max(id)
        from t_growth_item
    </select>


</mapper>
