<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.GrowUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.GrowUser">
        <result column="grow_id" property="growId"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <select id="findGrowUser" resultType="Long">
        select user_id
        from t_grow_user
        where grow_id = #{growId}
    </select>

    <select id="findUserGrow" resultType="Long">
        select grow_id
        from t_grow_user
        where user_id = #{userId}
    </select>

    <resultMap id="SimpleUserVOMap" type="com.poho.stuup.model.vo.SimpleUserVO">
        <id column="oid" property="id"/>
        <result column="user_name" property="username"/>
        <result column="teacher_no" property="teacherNo"/>
        <result column="dept_name" property="deptName"/>
    </resultMap>

    <select id="getGrowItemUser" resultMap="SimpleUserVOMap">
        select u.oid,
               u.user_name,
               u.login_name as teacher_no,
               d.dept_name
        from t_grow_user gu
                 left join t_user u on u.oid = gu.user_id
                 left join t_dept d on d.oid = u.dept_id
        where gu.grow_id = #{growId}
    </select>

</mapper>
