<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.GrowthItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.GrowthItem">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="score_period" property="scorePeriod"/>
        <result column="score_upper_limit" property="scoreUpperLimit"/>
        <result column="collect_limit" property="collectLimit"/>
        <result column="calculate_type" property="calculateType"/>
        <result column="score" property="score"/>
        <result column="gatherer" property="gatherer"/>
        <result column="type" property="type"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="first_level_id" property="firstLevelId"/>
        <result column="second_level_id" property="secondLevelId"/>
        <result column="three_level_id" property="threeLevelId"/>
    </resultMap>

    <resultMap id="GrowthItemSelectVOMap" type="com.poho.stuup.model.vo.GrowthItemSelectVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="first_level_id" property="firstLevelId"/>
        <result column="second_level_id" property="secondLevelId"/>
        <result column="third_level_id" property="thirdLevelId"/>
        <result column="first_level_name" property="firstLevelName"/>
        <result column="second_level_name" property="secondLevelName"/>
        <result column="third_level_name" property="thirdLevelName"/>
    </resultMap>

    <select id="getStudentGrowthItems" resultMap="GrowthItemSelectVOMap">
        select gi.id,
               gi.name,
               gi.first_level_id,
               gi.second_level_id,
               gi.three_level_id as third_level_id,
               first.name        as first_level_name,
               second.name       as second_level_name,
               third.name        as third_level_name
        from t_growth_item gi
                 left join t_growth first on first.id = gi.first_level_id
                 left join t_growth second on second.id = gi.second_level_id
                 left join t_growth third on third.id = gi.three_level_id
        where gi.gatherer = 3
    </select>

    <select id="fetchMaxId" resultType="Long">
        select max(id)
        from t_growth_item
    </select>


</mapper>
