<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.JobGrowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.JobGrow">
        <id column="id" property="id"/>
        <result column="grow_id" property="growId"/>
        <result column="exec_date" property="execDate"/>
        <result column="state" property="state"/>
        <result column="error" property="error"/>
    </resultMap>

</mapper>
