<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.td//DTD Mapper 3.0//EN" "http://mybatis.td/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.ModelRuleMapper">
  <resultMap id="BaseResultMap" type="com.poho.stuup.model.ModelRule">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="seed_score" jdbcType="INTEGER" property="seedScore" />
    <result column="seed_img" jdbcType="VARCHAR" property="seedImg" />
    <result column="sprout_score" jdbcType="INTEGER" property="sproutScore" />
    <result column="sprout_img" jdbcType="VARCHAR" property="sproutImg" />
    <result column="flower_score" jdbcType="INTEGER" property="flowerScore" />
    <result column="flower_img" jdbcType="VARCHAR" property="flowerImg" />
    <result column="ending_score" jdbcType="INTEGER" property="endingScore" />
    <result column="ending_img" jdbcType="VARCHAR" property="endingImg" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />

  </resultMap>
  <sql id="Base_Column_List">
    oid, type_code, type_name, seed_score, seed_img, sprout_score, sprout_img, flower_score, flower_img, ending_score, ending_img, sort, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_model_rule
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_model_rule
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.poho.stuup.model.ModelRule">
    insert into t_model_rule (oid, type_code, type_name, seed_score, seed_img, sprout_score, sprout_img, flower_score, flower_img, ending_score, ending_img, sort)
    values (#{oid,jdbcType=BIGINT}, #{typeCode,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}
    , #{seedScore,jdbcType=INTEGER}, #{seedImg,jdbcType=VARCHAR}
    , #{sproutScore,jdbcType=INTEGER}, #{sproutImg,jdbcType=VARCHAR}
    , #{flowerScore,jdbcType=INTEGER}, #{flowerImg,jdbcType=VARCHAR}
    , #{endingScore,jdbcType=INTEGER}, #{endingImg,jdbcType=VARCHAR}
    , #{sort,jdbcType=INTEGER}

    )
  </insert>
  <insert id="insertSelective" parameterType="com.poho.stuup.model.ModelRule">
    insert into t_model_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="seedScore != null">
        seed_score,
      </if>
      <if test="seedImg != null">
        seed_img,
      </if>
      <if test="sproutScore != null">
        sprout_score,
      </if>
      <if test="sproutImg != null">
        sprout_img,
      </if>
      <if test="flowerScore != null">
        flower_score,
      </if>
      <if test="flowerImg != null">
        flower_img,
      </if>
      <if test="endingScore != null">
        ending_score,
      </if>
      <if test="endingImg != null">
        ending_img,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="seedScore != null">
        #{seedScore,jdbcType=INTEGER},
      </if>
      <if test="seedImg != null">
        #{seedImg,jdbcType=VARCHAR},
      </if>
      <if test="sproutScore != null">
        #{sproutScore,jdbcType=INTEGER},
      </if>
      <if test="sproutImg != null">
        #{sproutImg,jdbcType=VARCHAR},
      </if>
      <if test="flowerScore != null">
        #{flowerScore,jdbcType=INTEGER},
      </if>
      <if test="flowerImg != null">
        #{flowerImg,jdbcType=VARCHAR},
      </if>
      <if test="endingScore != null">
        #{endingScore,jdbcType=INTEGER},
      </if>
      <if test="endingImg != null">
        #{endingImg,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poho.stuup.model.ModelRule">
    update t_model_rule
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="seedScore != null">
        seed_score = #{seedScore,jdbcType=INTEGER},
      </if>
      <if test="seedImg != null">
        seed_img = #{seedImg,jdbcType=VARCHAR},
      </if>
      <if test="sproutScore != null">
        sprout_score = #{sproutScore,jdbcType=INTEGER},
      </if>
      <if test="sproutImg != null">
        sprout_img = #{sproutImg,jdbcType=VARCHAR},
      </if>
      <if test="flowerScore != null">
        flower_score = #{flowerScore,jdbcType=INTEGER},
      </if>
      <if test="flowerImg != null">
        flower_img = #{flowerImg,jdbcType=VARCHAR},
      </if>
      <if test="endingScore != null">
        ending_score = #{endingScore,jdbcType=INTEGER},
      </if>
      <if test="endingImg != null">
        ending_img = #{endingImg,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poho.stuup.model.ModelRule">
    update t_model_rule
    set type_code = #{typeCode,jdbcType=VARCHAR},
    type_name = #{typeName,jdbcType=VARCHAR},
    seed_score = #{seedScore,jdbcType=INTEGER},
    seed_img = #{seedImg,jdbcType=VARCHAR},
    sprout_score = #{sproutScore,jdbcType=INTEGER},
    sprout_img = #{sproutImg,jdbcType=VARCHAR},
    flower_score = #{flowerScore,jdbcType=INTEGER},
    flower_img = #{flowerImg,jdbcType=VARCHAR},
    ending_score = #{endingScore,jdbcType=INTEGER},
    ending_img = #{endingImg,jdbcType=VARCHAR},
    sort = #{sort,jdbcType=INTEGER},
    status = #{status,jdbcType=INTEGER},
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <select id="queryTotal" parameterType="java.util.HashMap" resultType="int">
    select
    count(td.oid)
    from t_model_rule as td
    where 1=1
    <if test="key != null and key != ''">
      AND td.type_name LIKE CONCAT(CONCAT('%',#{key}),'%')
    </if>
  </select>
  <select id="queryList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    td.*
    from t_model_rule as td
    where 1=1
    <if test="key != null and key != ''">
      AND td.type_name LIKE CONCAT(CONCAT('%',#{key}),'%')
    </if>
    order by td.oid desc
    <if test="start != null and length != null">
      limit #{start},#{length}
    </if>
  </select>
  <select id="queryAllList"  resultMap="BaseResultMap">
    select
    td.*
    from t_model_rule as td
    order by td.sort asc, td.oid desc
  </select>

  <delete id="deleteBatch">
    delete from t_model_rule
    where oid in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>
</mapper>