<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.OperRecordMapper">
  <resultMap id="BaseResultMap" type="com.poho.stuup.model.OperRecord">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="year_id" jdbcType="BIGINT" property="yearId" />
    <result column="oper_user" jdbcType="BIGINT" property="operUser" />
    <result column="oper_time" jdbcType="TIMESTAMP" property="operTime" />
    <result column="norm_code" jdbcType="INTEGER" property="normCode" />
    <result column="oper_type" jdbcType="INTEGER" property="operType" />
    <result column="oper_user_name" property="operUserName" />
  </resultMap>
  <sql id="Base_Column_List">
    oid, year_id, oper_user, oper_time, norm_code, oper_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_oper_record
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_oper_record
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.poho.stuup.model.OperRecord">
    insert into t_oper_record (oid, year_id, oper_user, 
      oper_time, norm_code, oper_type
      )
    values (#{oid,jdbcType=BIGINT}, #{yearId,jdbcType=BIGINT}, #{operUser,jdbcType=BIGINT}, 
      #{operTime,jdbcType=TIMESTAMP}, #{normCode,jdbcType=INTEGER}, #{operType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.poho.stuup.model.OperRecord">
    insert into t_oper_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="yearId != null">
        year_id,
      </if>
      <if test="operUser != null">
        oper_user,
      </if>
      <if test="operTime != null">
        oper_time,
      </if>
      <if test="normCode != null">
        norm_code,
      </if>
      <if test="operType != null">
        oper_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="yearId != null">
        #{yearId,jdbcType=BIGINT},
      </if>
      <if test="operUser != null">
        #{operUser,jdbcType=BIGINT},
      </if>
      <if test="operTime != null">
        #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="normCode != null">
        #{normCode,jdbcType=INTEGER},
      </if>
      <if test="operType != null">
        #{operType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poho.stuup.model.OperRecord">
    update t_oper_record
    <set>
      <if test="yearId != null">
        year_id = #{yearId,jdbcType=BIGINT},
      </if>
      <if test="operUser != null">
        oper_user = #{operUser,jdbcType=BIGINT},
      </if>
      <if test="operTime != null">
        oper_time = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="normCode != null">
        norm_code = #{normCode,jdbcType=INTEGER},
      </if>
      <if test="operType != null">
        oper_type = #{operType,jdbcType=INTEGER},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poho.stuup.model.OperRecord">
    update t_oper_record
    set year_id = #{yearId,jdbcType=BIGINT},
      oper_user = #{operUser,jdbcType=BIGINT},
      oper_time = #{operTime,jdbcType=TIMESTAMP},
      norm_code = #{normCode,jdbcType=INTEGER},
      oper_type = #{operType,jdbcType=INTEGER}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <select id="checkOperRecord" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT
      tsr.*,
      tu.user_name as oper_user_name
    FROM
      t_oper_record AS tsr
        left join t_user as tu on tu.oid = tsr.oper_user
    WHERE 1=1
      AND tsr.year_id = #{yearId,jdbcType=BIGINT}
      AND tsr.oper_type = #{operType,jdbcType=INTEGER}
    ORDER BY
      tsr.oid DESC
    LIMIT 1
  </select>
  <delete id="clearOperRecord" parameterType="java.util.HashMap">
    delete from t_oper_record
    where year_id = #{yearId,jdbcType=BIGINT}
      AND oper_type = #{operType,jdbcType=INTEGER}
  </delete>
</mapper>