<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.RankingYearMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.RankingYear">
        <id column="id" property="id"/>
        <result column="ranking" property="ranking"/>
        <result column="year_id" property="yearId"/>
        <result column="student_id" property="studentId"/>
        <result column="score" property="score"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="YearRankVOMap" type="com.poho.stuup.model.vo.YearRankVO">
        <id column="id" property="id"/>
        <result column="year_name" property="yearName"/>
        <result column="student_name" property="studentName"/>
        <result column="student_no" property="studentNo"/>
        <result column="grade_name" property="gradeName"/>
        <result column="class_name" property="className"/>
        <result column="class_teacher" property="classTeacher"/>
        <result column="faculty_name" property="facultyName"/>
        <result column="major_name" property="majorName"/>
        <result column="score" property="score"/>
    </resultMap>

    <select id="getYearRanking" resultMap="YearRankVOMap">
        select
        s.id,
        s.name as student_name,
        s.student_no,
        g.grade_name,
        c.name as class_name,
        t.name as class_teacher,
        f.faculty_name,
        m.major_name,
        y.year_name,
        ry.score, 0
        from t_ranking_year ry
        left join t_student s on s.id = ry.student_id
        left join t_grade g on g.oid = s.grade_id
        left join t_class c on c.id = s.class_id
        left join t_teacher t on t.id = c.teacher_id
        left join t_faculty f on f.oid = c.faculty_id
        left join t_major m on m.oid = s.major_id
        left join t_year y on y.oid = ry.year_id
        <where>
            and ry.year_id = #{yearId}
            <if test="query.studentName != null and query.studentName != ''">
                and s.name like concat('%',#{query.studentName},'%')
            </if>
            <if test="query.studentNo != null and query.studentNo != ''">
                and s.student_no like concat('%',#{query.studentNo},'%')
            </if>
            <if test="query.gradeId != null and query.gradeId != ''">
                and g.oid = #{query.gradeId}
            </if>
            <if test="query.className != null and query.className != ''">
                and c.name like concat('%',#{query.className},'%')
            </if>
            <if test="query.facultyId != null and query.facultyId != ''">
                and f.oid = #{query.facultyId}
            </if>
            <if test="query.majorId != null and query.majorId != ''">
                and m.oid = #{query.majorId}
            </if>
        </where>
        order by ry.ranking
    </select>

</mapper>
