<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.RecAddScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.RecAddScore">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="grow_id" property="growId"/>
        <result column="score" property="score"/>
        <result column="year_id" property="yearId"/>
        <result column="semester_id" property="semesterId"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="RecScoreVOMap" type="com.poho.stuup.model.vo.RecScoreVO">
        <id column="id" property="id"/>
        <result column="year_id" property="yearId"/>
        <result column="semester_id" property="semesterId"/>
        <result column="l1_id" property="l1Id"/>
        <result column="l2_id" property="l2Id"/>
        <result column="l3_id" property="l3Id"/>
        <result column="grade_id" property="gradeId"/>
        <result column="growth_item_name" property="growthItemName"/>
        <result column="class_name" property="className"/>
        <result column="student_name" property="studentName"/>
        <result column="student_no" property="studentNo"/>
        <result column="id_card" property="idCard"/>
        <result column="student_id" property="studentId"/>
        <result column="score" property="score"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="pageRecAddScore" resultMap="RecScoreVOMap">
        select
        ras.id,
        ras.year_id,
        ras.semester_id,
        ras.student_id,
        ras.score,
        ras.create_time,
        gi.first_level_id as l1_id,
        gi.second_level_id as l2_id,
        gi.three_level_id as l3_id,
        gi.name as growth_item_name,
        c.name as class_name,
        s.name as student_name,
        s.student_no,
        s.id_card,
        s.grade_id
        from t_rec_add_score ras
        left join t_growth_item gi on ras.grow_id = gi.id
        left join t_student s on ras.student_id = s.id
        left join t_class c on s.class_id = c.id
        <where>
            <if test="query.yearId != null and query.yearId != ''">
                and ras.year_id = #{query.yearId}
            </if>
            <if test="query.semesterId != null and query.semesterId != ''">
                and ras.semester_id = #{query.semesterId}
            </if>
            <if test="query.startTime != null and query.endTime != null and query.startTime != '' and query.endTime != '' ">
                and ras.create_time between #{query.startTime} and #{query.endTime}
            </if>
            <if test="query.l1Id != null and query.l1Id != ''">
                and gi.first_level_id = #{query.l1Id}
            </if>
            <if test="query.l2Id != null and query.l2Id != ''">
                and gi.second_level_id = #{query.l2Id}
            </if>
            <if test="query.l3Id != null and query.l3Id != ''">
                and gi.three_level_id = #{query.l3Id}
            </if>
            <if test="query.growthItemName != null and query.growthItemName != ''">
                and gi.name like concat('%',#{query.growthItemName},'%')
            </if>
            <if test="query.studentName != null and query.studentName != ''">
                and s.name like concat('%',#{query.studentName},'%')
            </if>
            <if test="query.studentNo != null and query.studentNo != ''">
                and s.student_no like concat('%',#{query.studentNo},'%')
            </if>
            <if test="query.gradeId != null and query.gradeId != ''">
                and s.grade_id = #{query.gradeId}
            </if>
            <if test="query.className != null and query.className != ''">
                and c.name like concat('%',#{query.className},'%')
            </if>
        </where>
        order by ras.create_time desc
    </select>

    <resultMap id="StudentRecScoreVOMap" type="com.poho.stuup.model.vo.StudentRecScoreVO">
        <id column="id" property="id"/>
        <result column="score" property="score"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="pageStudentRecScore" resultMap="StudentRecScoreVOMap">
        select
        ras.id,
        y.year_name,
        first.name as first_level_name,
        second.name as second_level_name,
        three.name as three_level_name,
        gi.name as grow_name,
        ras.score,
        ras.create_time
        from t_rec_add_score ras
        left join t_growth_item gi on gi.id = ras.grow_id
        left join t_growth first on first.id = gi.first_level_id
        left join t_growth second on second.id = gi.second_level_id
        left join t_growth three on three.id = gi.three_level_id
        left join t_year y on y.oid = ras.year_id
        <where>
            ras.student_id = #{studentId}
            <if test="query.yearId != null and query.yearId != ''">
                and y.oid = #{query.yearId}
            </if>
            <if test="query.firstLevelId != null and query.firstLevelId != ''">
                and gi.first_level_id = #{query.firstLevelId}
            </if>
            <if test="query.secondLevelId != null and query.secondLevelId != ''">
                and gi.second_level_id = #{query.secondLevelId}
            </if>
            <if test="query.threeLevelId != null and query.threeLevelId != ''">
                and gi.three_level_id = #{query.threeLevelId}
            </if>
            <if test="query.growName != null and query.growName != ''">
                and gi.name like concat('%',#{query.growName},'%')
            </if>
            <if test="query.startTime != null and query.endTime != null and query.startTime != '' and query.endTime != '' ">
                and ras.create_time between #{query.startTime} and #{query.endTime}
            </if>
        </where>
        order by ras.create_time desc
    </select>

    <select id="findTimePeriodRecord" resultMap="BaseResultMap">
        select *
        from t_rec_add_score
        where create_time between #{startTime} and #{endTime}
    </select>

    <select id="findTimePeriodRecordForGrow" resultMap="BaseResultMap">
        select *
        from t_rec_add_score
        where grow_id = #{growId}
          and create_time between #{startTime} and #{endTime}
    </select>

    <resultMap id="RecScoreYearRankDTOMap" type="com.poho.stuup.model.dto.RecScoreYearRankDTO">
        <result column="student_id" property="studentId"/>
        <result column="score" property="score"/>
        <result column="student_name" property="studentName"/>
        <result column="class_id" property="classId"/>
        <result column="grade_id" property="gradeId"/>
        <result column="major_id" property="majorId"/>
    </resultMap>

    <select id="findRecScoreForYear" resultMap="RecScoreYearRankDTOMap">
        select ras.student_id,
               ras.score,
               s.name as student_name,
               s.student_no,
               s.class_id,
               s.grade_id,
               s.major_id
        from t_rec_add_score ras
                 left join t_student s on s.id = ras.student_id
        where year_id = #{yearId}
    </select>

    <resultMap id="ClassRankVOMap" type="com.poho.stuup.model.vo.ClassRankVO">
        <result column="class_id" property="classId"/>
        <result column="score" property="score"/>
    </resultMap>

    <select id="getClassRank" resultMap="ClassRankVOMap">
        select s.class_id,
               ras.score
        from t_rec_add_score ras
                 left join t_student s on s.id = ras.student_id
        where year_id = #{yearId}
    </select>

    <resultMap id="MajorRankVOMap" type="com.poho.stuup.model.vo.MajorRankVO">
        <result column="major_id" property="majorId"/>
        <result column="score" property="score"/>
    </resultMap>

    <select id="getMajorRank" resultMap="MajorRankVOMap">
        select s.major_id,
               ras.score
        from t_rec_add_score ras
                 left join t_student s on s.id = ras.student_id
        where year_id = #{yearId}
    </select>

    <resultMap id="FacultyRankVOMap" type="com.poho.stuup.model.vo.FacultyRankVO">
        <result column="class_id" property="classId"/>
        <result column="score" property="score"/>
    </resultMap>

    <select id="getFacultyRank" resultMap="FacultyRankVOMap">
        select s.class_id,
               ras.score
        from t_rec_add_score ras
                 left join t_student s on s.id = ras.student_id
        where year_id = #{yearId}
    </select>

    <resultMap id="WholeSchoolTop10VOMap" type="com.poho.stuup.model.vo.WholeSchoolTop10VO">
        <result column="student_name" property="studentName"/>
        <result column="class_name" property="className"/>
        <result column="class_teacher" property="classTeacher"/>
        <result column="ranking" property="ranking"/>
        <result column="score" property="score"/>
        <result column="avatar_id" property="avatarId"/>
    </resultMap>

    <select id="findWholeSchoolTop10Ranking" resultMap="WholeSchoolTop10VOMap">
        select s.name         as student_name,
               c.name         as class_name,
               t.name         as class_teacher,
               sum(ras.score) as score,
               u.avatar_id    as avatar_id
        from t_rec_add_score ras
                 left join t_student s on s.id = ras.student_id
                 left join t_user u on u.login_name = s.student_no
                 left join t_class c on c.id = s.class_id
                 left join t_teacher t on t.id = c.teacher_id
        where ras.year_id = #{yearId}
        group by ras.student_id
        order by score desc
        limit 10
    </select>

    <resultMap id="WholeClassTop10VOMap" type="com.poho.stuup.model.vo.WholeClassTop10VO">
        <result column="class_name" property="className"/>
        <result column="class_teacher" property="classTeacher"/>
        <result column="ranking" property="ranking"/>
        <result column="score" property="score"/>
        <result column="avatar_id" property="avatarId"/>
    </resultMap>

    <select id="findWholeClassTop10Ranking" resultMap="WholeClassTop10VOMap">
        select c.name         as class_name,
               t.name         as class_teacher,
               sum(ras.score) as score,
               u.avatar_id    as avatar_id
        from t_rec_add_score ras
                 left join t_student s on s.id = ras.student_id
                 left join t_class c on c.id = s.class_id
                 left join t_teacher t on t.id = c.teacher_id
                 left join t_user u on u.login_name = t.job_no
        where ras.year_id = #{yearId}
        group by s.class_id
        order by score desc
        limit 10
    </select>

    <update id="collectionTimeoutScore">
        update t_rec_add_score
        set state = 1
        where create_time &lt;= date_sub(curdate(), interval #{timeout} day)
          and state = 2;
    </update>

    <select id="fetchTotalScore" resultType="BigDecimal">
        select sum(score) as totalScore
        from t_rec_add_score
        where
        year_id = #{yearId}
        <if test="studentId != null and studentId != ''">
            and student_id = #{studentId}
        </if>
        <if test="growthItemIds != null and growthItemIds.size > 0">
            and grow_id in
            <foreach collection="growthItemIds" item="growthItemId" open="(" separator="," close=")">
                #{growthItemId}
            </foreach>
        </if>
    </select>

    <resultMap id="L1GrowthScoreDTOMap" type="com.poho.stuup.model.dto.L1GrowthScoreDTO">
        <result column="l1_id" property="l1Id"/>
        <result column="score" property="score"/>
    </resultMap>

    <select id="selectL1GrowthStudentScore" resultMap="L1GrowthScoreDTOMap">
        select gi.first_level_id         as l1_id,
               ifnull(sum(ras.score), 0) as score
        from t_rec_add_score ras
                 inner join t_growth_item gi on ras.grow_id = gi.id
        where year_id = #{yearId}
          and student_id = #{studentId}
          and gi.first_level_id is not null
        group by gi.first_level_id;
    </select>

    <select id="selectL1GrowthTotalScore" resultMap="L1GrowthScoreDTOMap">
        select gi.first_level_id        as l1_id,
               ifnull(sum(gi.score), 0) as score
        from t_rec_add_score ras
                 inner join t_growth_item gi on ras.grow_id = gi.id
        where gi.first_level_id is not null
          and year_id = #{yearId}
        group by gi.first_level_id
    </select>

    <select id="selectL1GrowthHighestScore" resultType="decimal">
        select ifnull(sum(ras.score), 0) as score
        from t_rec_add_score ras
                 inner join t_growth_item gi on ras.grow_id = gi.id
        where gi.first_level_id = #{l1Id}
        group by ras.student_id
        order by score desc
        limit 1
    </select>

</mapper>
