<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.RecDeductScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.RecDeductScore">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="semester_id" property="semesterId"/>
        <result column="grow_id" property="growId"/>
        <result column="score" property="score"/>
        <result column="year_id" property="yearId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>
