<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.RecHonorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.RecHonor">
        <id column="id" property="id"/>
        <result column="year_id" property="yearId"/>
        <result column="grow_id" property="growId"/>
        <result column="student_id" property="studentId"/>
        <result column="name" property="name"/>
        <result column="level" property="level"/>
        <result column="unit" property="unit"/>
        <result column="time" property="time"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="RecHonorVOMap" type="com.poho.stuup.model.vo.RecHonorVO">
        <id column="id" property="id"/>
        <result column="year_name" property="yearName"/>
        <result column="grade_name" property="gradeName"/>
        <result column="class_name" property="className"/>
        <result column="student_name" property="studentName"/>
        <result column="student_no" property="studentNo"/>
        <result column="id_card" property="idCard"/>
        <result column="student_id" property="studentId"/>
        <result column="name" property="name"/>
        <result column="level" property="level"/>
        <result column="unit" property="unit"/>
        <result column="time" property="time"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="getRecHonorPage" resultMap="RecHonorVOMap">
        select rh.id,
        y.year_name,
        g.grade_name,
        c.name as class_name,
        s.name as student_name,
        s.student_no,
        s.id_card,
        s.id as student_id,
        rh.name,
        rh.level,
        rh.time,
        rh.create_time
        from t_rec_honor rh
        left join t_student s on s.id = rh.student_id
        left join t_year y on y.oid = rh.year_id
        left join t_grade g on g.oid = s.grade_id
        left join t_class c on c.id = s.class_id
        <where>
            <if test="query.yearId != null and query.yearId != ''">
                and rh.year_id = #{query.yearId}
            </if>
            <if test="query.gradeId != null and query.gradeId != ''">
                and g.oid = #{query.gradeId}
            </if>
            <if test="query.classId != null and query.classId != ''">
                and c.id = #{query.classId}
            </if>
            <if test="query.studentName != null and query.studentName != ''">
                and s.name like concat('%',#{query.studentName},'%')
            </if>
            <if test="query.studentNo != null and query.studentNo != ''">
                and s.student_no like concat('%',#{query.studentNo},'%')
            </if>
            <if test="query.name != null and query.name != ''">
                and rh.name like concat('%',#{query.name},'%')
            </if>
            <if test="query.level != null and query.level != ''">
                and rh.level = #{query.level}
            </if>
        </where>
        order by rh.create_time desc
    </select>

    <resultMap id="RecHonorExcelMap" type="com.poho.stuup.model.excel.RecHonorExcel">
        <result column="grade_name" property="gradeName"/>
        <result column="class_name" property="className"/>
        <result column="student_no" property="studentNo"/>
        <result column="student_name" property="studentName"/>
        <result column="id_card" property="idCard"/>
        <result column="name" property="name"/>
        <result column="level_value" property="levelValue"/>
        <result column="unit" property="unit"/>
        <result column="time" property="time"/>
    </resultMap>

    <select id="queryExcelList" resultMap="RecHonorExcelMap">
        select
        g.grade_name,
        c.name as class_name,
        s.name as student_name,
        s.student_no,
        s.id_card,
        rh.name,
        rh.level as level_value,
        rh,unit,
        rh.time
        from t_rec_honor rh
        left join t_student s on s.id = rh.student_id
        left join t_grade g on g.oid = s.grade_id
        left join t_class c on c.id = s.class_id
        <where>
            rc.year_id = #{query.yearId}
            <if test="query.gradeId != null and query.gradeId != ''">
                and g.oid = #{query.gradeId}
            </if>
            <if test="query.classId != null and query.classId != ''">
                and c.id = #{query.classId}
            </if>
            <if test="query.studentName != null and query.studentName != ''">
                and s.name like concat('%',#{query.studentName},'%')
            </if>
            <if test="query.studentNo != null and query.studentNo != ''">
                and s.student_no like concat('%',#{query.studentNo},'%')
            </if>
            <if test="query.name != null and query.name != ''">
                and rh.name like concat('%',#{query.name},'%')
            </if>
            <if test="query.level != null and query.level != ''">
                and rh.level = #{query.level}
            </if>
        </where>
        order by rh.create_time desc
    </select>

</mapper>
