<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.RecMilitaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.RecMilitary">
        <id column="id" property="id"/>
        <result column="year_id" property="yearId"/>
        <result column="grow_id" property="growId"/>
        <result column="student_id" property="studentId"/>
        <result column="level" property="level"/>
        <result column="excellent" property="excellent"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="RecMilitaryVOMap" type="com.poho.stuup.model.vo.RecMilitaryVO">
        <id column="id" property="id"/>
        <result column="year_name" property="yearName"/>
        <result column="grade_name" property="gradeName"/>
        <result column="class_name" property="className"/>
        <result column="student_name" property="studentName"/>
        <result column="student_no" property="studentNo"/>
        <result column="id_card" property="idCard"/>
        <result column="student_id" property="studentId"/>
        <result column="level" property="level"/>
        <result column="excellent" property="excellent"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="getRecMilitaryPage" resultMap="RecMilitaryVOMap">
        select rm.id,
        y.year_name,
        g.grade_name,
        c.name as class_name,
        s.name as student_name,
        s.student_no,
        s.id_card,
        s.id as student_id,
        rm.level,
        rm.excellent,
        rm.create_time
        from t_rec_military rm
        left join t_student s on s.id = rm.student_id
        left join t_year y on y.oid = rm.year_id
        left join t_grade g on g.oid = s.grade_id
        left join t_class c on c.id = s.class_id
        <where>
            <if test="query.yearId != null and query.yearId != ''">
                and rm.year_id = #{query.yearId}
            </if>
            <if test="query.gradeId != null and query.gradeId != ''">
                and g.oid = #{query.gradeId}
            </if>
            <if test="query.classId != null and query.classId != ''">
                and c.id = #{query.classId}
            </if>
            <if test="query.studentName != null and query.studentName != ''">
                and s.name like concat('%',#{query.studentName},'%')
            </if>
            <if test="query.studentNo != null and query.studentNo != ''">
                and s.student_no like concat('%',#{query.studentNo},'%')
            </if>
            <if test="query.level != null and query.level != ''">
                and rm.level = #{query.level}
            </if>
            <if test="query.excellent != null and query.excellent != ''">
                and rm.excellent = #{query.excellent}
            </if>
        </where>
        order by rm.create_time desc
    </select>

    <resultMap id="RecMilitaryExcelMap" type="com.poho.stuup.model.excel.RecMilitaryExcel">
        <result column="grade_name" property="gradeName"/>
        <result column="class_name" property="className"/>
        <result column="student_name" property="studentName"/>
        <result column="student_no" property="studentNo"/>
        <result column="id_card" property="idCard"/>
        <result column="student_id" property="studentId"/>
        <result column="level_value" property="levelValue"/>
        <result column="excellent_value" property="excellentValue"/>
    </resultMap>


    <select id="queryExcelList" resultMap="RecMilitaryExcelMap">
        select
        g.grade_name,
        c.name as class_name,
        s.name as student_name,
        s.student_no,
        s.id_card,
        rm.level as level_value,
        rm.excellent as excellent_value
        from t_rec_military rm
        left join t_student s on s.id = rm.student_id
        left join t_year y on y.oid = rm.year_id
        left join t_grade g on g.oid = s.grade_id
        left join t_class c on c.id = s.class_id
        <where>
            rm.year_id = #{query.yearId}
            <if test="query.gradeId != null and query.gradeId != ''">
                and g.oid = #{query.gradeId}
            </if>
            <if test="query.classId != null and query.classId != ''">
                and c.id = #{query.classId}
            </if>
            <if test="query.studentName != null and query.studentName != ''">
                and s.name like concat('%',#{query.studentName},'%')
            </if>
            <if test="query.studentNo != null and query.studentNo != ''">
                and s.student_no like concat('%',#{query.studentNo},'%')
            </if>
            <if test="query.level != null and query.level != ''">
                and rm.level = #{query.level}
            </if>
            <if test="query.excellent != null and query.excellent != ''">
                and rm.excellent = #{query.excellent}
            </if>
        </where>
        order by rm.create_time desc
    </select>

</mapper>
