<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.StandardNormMapper">
  <resultMap id="BaseResultMap" type="com.poho.stuup.model.StandardNorm">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="norm_name" jdbcType="VARCHAR" property="normName" />
    <result column="norm_score" jdbcType="INTEGER" property="normScore" />
    <result column="evaluation" jdbcType="VARCHAR" property="evaluation" />
    <result column="norm_sort" jdbcType="INTEGER" property="normSort" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="category_name" property="categoryName" />
  </resultMap>
  <sql id="Base_Column_List">
    oid, category_id, norm_name, norm_score, evaluation, norm_sort, create_user, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_standard_norm
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_standard_norm
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.poho.stuup.model.StandardNorm">
    insert into t_standard_norm (oid, category_id, norm_name, 
      norm_score, evaluation, norm_sort, 
      create_user, create_time)
    values (#{oid,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{normName,jdbcType=VARCHAR}, 
      #{normScore,jdbcType=INTEGER}, #{evaluation,jdbcType=VARCHAR}, #{normSort,jdbcType=INTEGER}, 
      #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.poho.stuup.model.StandardNorm">
    insert into t_standard_norm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="normName != null">
        norm_name,
      </if>
      <if test="normScore != null">
        norm_score,
      </if>
      <if test="evaluation != null">
        evaluation,
      </if>
      <if test="normSort != null">
        norm_sort,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="normName != null">
        #{normName,jdbcType=VARCHAR},
      </if>
      <if test="normScore != null">
        #{normScore,jdbcType=INTEGER},
      </if>
      <if test="evaluation != null">
        #{evaluation,jdbcType=VARCHAR},
      </if>
      <if test="normSort != null">
        #{normSort,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poho.stuup.model.StandardNorm">
    update t_standard_norm
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="normName != null">
        norm_name = #{normName,jdbcType=VARCHAR},
      </if>
      <if test="normScore != null">
        norm_score = #{normScore,jdbcType=INTEGER},
      </if>
      <if test="evaluation != null">
        evaluation = #{evaluation,jdbcType=VARCHAR},
      </if>
      <if test="normSort != null">
        norm_sort = #{normSort,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poho.stuup.model.StandardNorm">
    update t_standard_norm
    set category_id = #{categoryId,jdbcType=BIGINT},
      norm_name = #{normName,jdbcType=VARCHAR},
      norm_score = #{normScore,jdbcType=INTEGER},
      evaluation = #{evaluation,jdbcType=VARCHAR},
      norm_sort = #{normSort,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <select id="queryTotal" parameterType="java.util.HashMap" resultType="int">
    select
    count(tsn.oid)
    from t_standard_norm as tsn
    where 1=1
    <if test="categoryId != null">
      AND tsn.category_id = #{categoryId,jdbcType=BIGINT}
    </if>
    <if test="key != null and key != ''">
      AND tsn.norm_name LIKE CONCAT(CONCAT('%',#{key}),'%')
    </if>
  </select>
  <select id="queryList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    tsn.*,
    tsc.category_name
    from t_standard_norm as tsn
    left join t_standard_category tsc on tsc.oid = tsn.category_id
    where 1=1
    <if test="categoryId != null">
      AND tsn.category_id = #{categoryId,jdbcType=BIGINT}
    </if>
    <if test="key != null and key != ''">
      AND tsn.norm_name LIKE CONCAT(CONCAT('%',#{key}),'%')
    </if>
    order by tsn.create_time desc
    <if test="start != null and length != null">
      limit #{start},#{length}
    </if>
  </select>
  <select id="checkNorm" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT
    tsn.*
    FROM
    t_standard_norm AS tsn
    WHERE 1=1
    <if test="categoryId != null">
      AND tsn.category_id = #{categoryId,jdbcType=BIGINT}
    </if>
    <if test="normName != null">
      AND tsn.norm_name = #{normName,jdbcType=VARCHAR}
    </if>
    <if test="oid != null">
      AND tsn.oid != #{oid,jdbcType=BIGINT}
    </if>
    ORDER BY
    tsn.oid DESC
    LIMIT 1
  </select>
  <delete id="deleteBatch">
    delete from t_standard_norm
    where oid in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>
  <delete id="delBatchByCategory">
    delete from t_standard_norm
    where category_id in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>
</mapper>