<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.StuScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.StuScore">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="score" property="score"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="GrowGardenVOMap" type="com.poho.stuup.model.vo.GrowGardenVO">
        <id column="student_id" property="studentId"/>
        <result column="student_name" property="studentName"/>
        <result column="grade_name" property="gradeName"/>
        <result column="class_name" property="className"/>
        <result column="class_teacher" property="classTeacher"/>
        <result column="score" property="score"/>
    </resultMap>

    <select id="getGrowGardenForStudent" resultMap="GrowGardenVOMap">
        select ss.student_id,
        s.name as student_name,
        g.grade_name,
        c.name as class_name,
        t.name as class_teacher,
        ss.score
        from t_stu_score ss
        left join t_student s on s.id = ss.student_id
        left join t_grade g on g.oid = s.grade_id
        left join t_class c on s.class_id = c.id
        left join t_teacher t on t.id = c.teacher_id
        <where>
            <if test="startScore != null">
                ss.score &gt;= #{startScore} and
            </if>
            <if test="startScore == null">
                ss.score &gt; 0 and
            </if>
            <if test="endScore != null">
                ss.score &lt;= #{endScore}
            </if>
            <if test="query.studentName != null and query.studentName != ''">
                and s.name like concat('%', #{query.studentName}, '%')
            </if>
            <if test="query.studentNo != null and query.studentNo != ''">
                and s.student_no like concat('%', #{query.studentNo}, '%')
            </if>
            <if test="query.gradeId != null and query.gradeId != ''">
                and g.oid = #{query.gradeId}
            </if>
            <if test="query.className != null and query.className != ''">
                and c.name like concat('%', #{query.className}, '%')
            </if>
        </where>
        order by score desc
    </select>

</mapper>
