<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.VolunteerMapper">
  <resultMap id="BaseResultMap" type="com.poho.stuup.model.Volunteer">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="stu_id" jdbcType="INTEGER" property="stuId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="oper_date" jdbcType="TIMESTAMP" property="operDate" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    oid, stu_id, name, address, sub_name,post, memo, oper_date, duration, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_volunteer
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_volunteer
    where oid = #{oid,jdbcType=BIGINT}
  </delete>

  <select id="queryTotal" parameterType="java.util.HashMap" resultType="int">
    select
      count(*)
    from t_volunteer as tc
    where 1=1
    <if test="name != null and name != ''">
      AND tc.name LIKE CONCAT(CONCAT('%',#{name}),'%')
    </if>
  </select>
  <select id="queryList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    tc.*
    from t_volunteer as tc
    where 1=1
    <if test="name != null and name != ''">
      AND tc.name LIKE CONCAT(CONCAT('%',#{name}),'%')
    </if>
    order by tc.oid desc
    <if test="start != null and length != null">
      limit #{start},#{length}
    </if>
  </select>

  <insert id="insert" parameterType="com.poho.stuup.model.Volunteer">
    insert into t_volunteer ( oid, stu_id, name, address, sub_name,post, memo, oper_date, duration, status)
    values (
             #{oid,jdbcType=BIGINT}
           , #{stuId,jdbcType=INTEGER}
           , #{name,jdbcType=VARCHAR}
           , #{address,jdbcType=VARCHAR}
           , #{subName,jdbcType=VARCHAR}
           , #{post,jdbcType=VARCHAR}
           , #{memo,jdbcType=VARCHAR}
           , #{operDate,jdbcType=TIMESTAMP}
           , #{duration,jdbcType=INTEGER},
           , #{status,jdbcType=INTEGER}
           )
  </insert>
  <insert id="insertSelective" parameterType="com.poho.stuup.model.Volunteer">
    insert into t_volunteer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="subName != null">
        subName,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="operDate != null">
        operDate,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
     <if test="stuId != null">
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="subName != null">
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="operDate != null">
        oper_date = #{operDate,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.poho.stuup.model.Volunteer">
    update t_volunteer
    set stu_id = #{stuId,jdbcType=INTEGER},
    name = #{name,jdbcType=VARCHAR},
    address = #{address,jdbcType=VARCHAR},
    sub_name = #{subName,jdbcType=VARCHAR},
    post = #{post,jdbcType=VARCHAR},
    memo = #{memo,jdbcType=VARCHAR},
    oper_date = #{operDate,jdbcType=TIMESTAMP},
    duration = #{duration,jdbcType=INTEGER},
    status = #{status,jdbcType=INTEGER},
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.poho.stuup.model.Volunteer">
    update t_volunteer
    <set>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="subName != null">
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="operDate != null">
        oper_date = #{operDate,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>