<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poho.stuup.dao.YearInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.poho.stuup.model.YearInfo">
        <result column="year_id" property="yearId"/>
        <result column="student_num" property="studentNum"/>
    </resultMap>

    <resultMap id="CountAtSchoolVOMap" type="com.poho.stuup.model.vo.YearAtSchoolNumVO">
        <result column="year" property="year"/>
        <result column="person_num" property="personNum"/>
    </resultMap>

    <select id="countNear3YearsAtSchoolNum" resultMap="CountAtSchoolVOMap">
        select y.year_name               as year,
               ifnull(yi.student_num, 0) as person_num
        from t_year y
                 left join t_year_info yi on yi.year_id = y.oid
        order by y.year_start desc
        limit 3
    </select>

</mapper>
